<%- include('../includes/head.ejs') %>

        <div class="container mt-3">
            <h2>Update Products</h2>
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <% if (errorMessage) { %>
                                <div class="alert alert-warning" role="alert">
                                    <%= errorMessage[0].param + ': '+ errorMessage[0].msg %>
                                </div>
                                <% } %>
                                <form method="POST" action="/products/update">
                                    <input type="hidden" name="product_id" value="<%- product_id %>">
                                    <div class="form-group">
                                        <label for="product_name">ชื่อสินค้า</label>
                                        <input type="text" class="form-control" name="product_name" placeholder="ชื่อสินค้า" value="<%= product_name %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="price">ราคา</label>
                                        <input type="number" class="form-control" name="price" placeholder="ราคาสินค้า" value="<%= price %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="remaining">จำนวน</label>
                                        <input type="number" class="form-control" name="remaining" placeholder="จำนวน" value="<%= remaining %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="details">รายละเอียดสินค้า</label>
                                        <input type="text" class="form-control" name="details" placeholder="รายละเอียดสินค้า" value="<%= details %>">
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" name="category" value="<%= category %>">
                                          <option value="">Product Type</option>
                                          <option>Music album</option>
                                          <option>Fashion</option>
                                          <option>Photobook</option>
                                        </select>
                                    <div class="form-group">
                                        <label for="image">รูปสินค้า</label>
                                        <input type="text" class="form-control" name="image" placeholder="กรุณาใส่ที่อยู่รูปภาพ" value="<%= image %>">
                                    </div>
                                    <a href="/products/search" class="btn btn-secondary"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
                                    <button type="submit" class="btn btn-success"> <i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                                </form>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('../includes/end.ejs') %>